[submodule "backend"]
	path = backend
	url = https://github.com/pl553/clipsearch_backend
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/pl553/clipsearch_frontend
	branch = main
